eo-dash a[href="https://eox.at"] img
{
  display: unset;
  height: 9px;
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
.top-nav,
.top-nav nav .button {
  background: var(--primary);
  color: var(--on-primary) !important;
}
.top-nav {
  box-shadow: 0 1px 5px #15142e0d, 0 4px 16px #15142e1a;
  height: 60px;
}
:root,
:root:has(.top-nav.at-top) {
  --vp-nav-height: 60px !important;
}
.VPContent {
  background-color: var(--surface);
}
:is(.button,button):not(.chip,.extend).active {
  background-color: var(--vp-c-brand-3);
}

/**
* Trying to make the eox pages default footer as small as possible
 */

.large-space:not(nav,.row,.grid,table,.tooltip,.list,menu) {
  display:none;
}

div.holder.large-padding {
  padding:0!important;
}
div.grid {
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem; 
}
div.grid.large-line > div > p {
  margin-top: 0rem; 
  margin-bottom: 0.2rem;
}

eox-feedback-button {
  position: fixed;
  z-index: 100;
}
.VPPage h1, h2, h3, h4, a {
  color: var(--secondary)
}
